/*USO DE FONTES EXTERNAS*/
@font-face {
    font-family: 'Varsity';
    src: url('fonts/varsity_regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/*ESTILO DO CORPO DA PÁGINA*/
body
{
    background-color: rgb(28, 28, 28);
    padding: 0px;
    margin: 0px;
}
/*ESTILO DA SECTION MENU INICIAR*/
.btn
{
    
    text-align: center;
    line-height: 50px;
    font-family: 'Varsity';
    font-weight: normal;
    font-style: normal;
    margin: auto;
}

h1
{
    width: 30%;
    height: 60%;
    font-family: 'Varsity';
    font-weight: normal;
    font-style: normal;
    font-size: 150px;
    text-align: center;
    line-height: 300px;
    color: white;
    margin: auto;
}

#jogar
{
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 10%;
    height: 5%;
    position: absolute;
    top: 40%;
    left: 46%;
    border-style: double;
    border-radius: 10px;
    box-shadow: 1px 1px 4px;
    
}

#score
{
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 10%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 46%;
    border-style: double;
    border-radius: 10px;
    box-shadow: 1px 1px 4px;
    

}

#cxquestion
{
    background-color: rgb(5, 10, 10);
    width: 25%;
    height: 300px;
    position: absolute;
    top: 25%;
    right: 36%;
    margin: auto;
    text-align: center;
    border-style: groove;
    border-radius: 11px;

   
}
#cabecalho
{
    font-family: 'Varsity';
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}
/*ESTILO DA DIV CONTENDO A TABELA*/
#respostas
{
    position: absolute;
    margin: auto;
    right: 16%;
    top: 40%;
    line-height: 30px;
}
/*ESTILO DAS TABELA DAS ALTERNATIVAS*/
#btnrespostas
{
    border-spacing: 10px;
}

#question
{
    font-size: 25px;
}

/*ESTILO DAS PERGUNTAS*/

#pergunta
{
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    width: 80%;
    right: 10%;
    
}
/*ESTILO DAS ALTERNATIVAS*/
.answer
{
    color: rgb(255,255,255);
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-style: double;
    border-radius: 15px;
}
/*CONTROLE DE VISUALIZAÇÃO DA DIV CONTEÚDO*/
#conteudo
{
    display: block;
}
/*CONTROLE DE VISUALIZAÇÃO DA DIV ENDGAME*/
#endgame
{
    display: none;
}
/*CONTROLE DE VISUALIZAÇÃO DA DIV GAME OVER*/
#gameover
{
    display: none;
}

/*DIV DO END GAME*/

#ganhou
{
    position: absolute;
    width: 40%;
    right: 29%;
    bottom: 7%;
    color: rgb(255,255,255);
    
}


#ganhoutxt
{
    color: rgb(255,255,255);
    font-family: 'Varsity';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    margin: auto;
    line-height: 150px;
    
}

#voltarendgame
{
    position: absolute;
    font-size: 20px;
    margin: auto;
    padding: 2px;
    width: 100px;
    height: 30px;
    line-height: 1rem;
    top: 15rem;
    right: 38%;
    text-decoration: none;
    color: rgb(255,255,255);
    border-style: groove;
    
}

#textvoltar
{
    position: relative;
    bottom: 13px;
}

#gameoverimg
{
    position: absolute;
    width: 40%;
    right: 29%;
    bottom: 25%;
    color: rgb(255,255,255);
}

#gameovertxt
{
    color: rgb(255,255,255);
    font-family: 'Varsity';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    margin: auto;
    line-height: 150px;
}