
body{
    height: 500px;
    width: 500px;
}


#calculadora{
    width: 300px;
    height: 450px;
    position: absolute;
    left: 45%;
    top: 10%;
    
    
}

#seccao{

    position: absolute;
    border-style: groove;
    border-color: black;
    
    
}


#cabecalho{

    background-color: rgb(25, 25, 26);
    position: absolute;
    width: 300px;
    height: 30px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    color:rgb(239, 242, 245) ;
    line-height: 25px;

}

#visor{
    background-color: rgb(158, 157, 157);
    width: 300px;
    height: 150px;
    text-align: center;
    font-size: 30px;
    color: rgb(239, 242, 245);
    line-height: 150px;
    
    
}

#botoes{
    background-color: rgb(25, 25, 26);
    width: 300px;
    height: 306px;
    
}

#bts{
    width: 100%;
    font-size: 30px;
    color: rgb(239, 242, 245);
    border-style: groove;
    text-align: center;
    border-spacing:5px 3px;
}

tr{

    border-style: groove;
    height: 57px;
    background-color: black;

}

#igual{
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 7px;
    top: 366px;
    width: 60px;
    height: 114px;
    text-align: center;
    line-height: 100px;
}